body {
	background-color: #adadad;
	margin: 0;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	margin-top: 70px;
}

#title {
	letter-spacing: 8px;
	animation-name: pain;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes pain {
	0% {
		color: orange; 
		background-color: coral; 
		font-size: 100%;
	}
	10% {
		color: purple; 
		background-color: green;
	}
	20% {
		color: red;
		background-color: cyan;
	}
	30% {
		color: CadetBlue;
		background-color: DeepPink;
	}
	40% {
		color: yellow; 
		background-color: DodgerBlue;
	}
	50% {
		color: coral; 
		background-color: orange; 
		font-size: 250%;
	}
	60% {
		color: green; 
		background-color: orange;
	}
	70% {
		color: cyan; 
		background-color: purple;
	}
	80% {
		color: DeepPink; 
		background-color: red;
	}
	90% {
		color: DodgerBlue; 
		background-color: CadetBlue;
	}
	100% {
		color: orange; 
		background-color: yellow; 
		font-size: 100%;
	}
}

p {
	text-align: center;
}

ul, li {
	text-align: center;
	color: black;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li.navbar {
	display: inline;
	float: left;
	border-right: 1px solid #bbb;
}

li.navbar:last-child {
	border-right: none;
}

li.navbar a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.navbar a:hover {
	background-color: darkred;
}

li.current {
	background-color: #5e5e5e;
}

img {
	width: 400px;
}

.sprite {
	height: 300px;
	width: auto;
	border-style: dashed;
}

.range {
	height: 300px;
	width: auto;
	border-style: dashed;
}

#board {
	width: 500px;
	margin-left: 30%;
}

figcaption {
	font-size: 69%;
}

video {
	width: 500px;
}

a:link {
	color: red;
}

a:visited {
	color: darkred;
}
