:root {
	--back: #F5D7A1;
	--navbar: hsl(329, 48%, 34%); /*812D58*/
	--select: rgb(240, 162, 142); /*F0A28E*/
	--current: hsl(347, 38%, 56%); /*BA6476*/
	--serif: "PierceRoman";
	--sans-serif: "GothicaBook";
}

body {
	background-color: var(--back);
	margin: 0;
}

h1, h2 {
	margin-left: 5%;
	font-family: var(--sans-serif), sans-serif;
	font-size: 36px;
}

h1 {
	margin-top: 70px;
	font-size: 42px;
	text-shadow: 2px 2px 5px var(--current);
}

body{
	animation-name: fun;
	animation-duration: 0.1s;
	animation-iteration-count: 3;
	animation-timing-function: linear;
}

@keyframes fun {
	from{transform: rotate(360deg)};
	to{transform: rotate(10deg)};
}

h1::first-letter {
	font-size: 48px;
}

p {
	font-family: var(--serif), serif;
	font-size: 24px;
	margin-left: 5%;
	margin-right: 5%;
}

ul, li {
	font-family: var(--serif), serif;
	font-size
	color: black;
	font-size: 24px;
	margin-left: 50px;
	margin-right: 50px;
	list-style-type: circle;
	list-style-position: outside;
}

ul.navbar li {
	text-align: center;
	font-family: var(--sans-serif), sans-serif;
	font-size: 20px;
	color: black;
	margin-left: 0px;
	margin-right: 0px;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--navbar);
	position: fixed;
	top: 0;
	width: 100%;
}

ul.navbar > li {
	display: inline;
	float: left;
}

ul.navbar > li:last-child {
	display: inline;
	float: right;
}

ul.navbar > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navbar > li a:hover {
	color: black;
	background-color: var(--select);
}

li.current {
	background-color: var(--current);
}

img {
	width: 400px;
}

.sprite {
	height: 300px;
	width: auto;
	border-style: double;
}

.range {
	height: 300px;
	width: auto;
	border-style: double;
	padding: 4px;
}

img[src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Chess_Board.svg"] {
	margin-left: 5%;
}

figcaption {
	font-size: 69%;
}

video {
	width: 500px;
}

a:link {
	color: var(--navbar);
}

a:visited {
	color: var(--current);
}

#big {
	text-align: center;
	font-size: 300px;
	margin-top: 10px;
	font-family: var(--sans-serif), sans-serif;
}
