<nav>
    <a href="index.html" class="brand">
        <img class="logo" src="icon.png"/>
        <span>Breaking the apocalypse</span>
    </a>
    <input id="menu" type="checkbox" class="show">
    <label for="menu" class="burger pseudo button">Menu</label>

    <div class="menu">
        <a href="info.html" class="{% if page.name != 'info.html' %}pseudo{% endif %} button">Info</a>
        <a href="game.html" class="{% if page.name != 'game.html' %}pseudo{% endif %} button">Game</a>
    </div>
</nav>